
div{
    text-align: right;
    align: right;
    width: 700px;
    height: auto;
}
div1{
    font-style: italic;
}
h1{
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    text-decoration: underline;
    text-indent: 30px;
}
pre {
    font-family: 'Bad Script', cursive;
    width: 700px;
}
p{
line-height: 3;
}