
.default{
    text-align: right;
    width: 710px;
    height: auto;
}
.italic{
    font-style: italic;
}
h1{
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    text-decoration: underline;
    text-indent: 25px;
    }
.bad {
    font-family: 'Bad Script', cursive;
    width: 710px;
    text-indent: 25px;
    white-space: pre;
}
p{
line-height: 3;
}